html{
    background-color: bisque;
}

*{
  box-sizing: border-box;
  border:1px solid lightblue
}

html{
    background-color: bisque;
}
body{
  margin: 20px;
}


.box{
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 15px;
  font-size: 135%;
}

.wrapper{
  display: grid;
  grid-template-columns:  100px 100px 100px 100px; /* defines the width of each column */
  grid-template-rows: 100px 100px; /* defines the height of each row */
  gap: 10px;
  
}
.a {
  grid-column-start:2; /* Defines where in the grid the element will start */
  grid-column-end:3; /* Defines where in the grid the element will end */
  /* grid-column: 2/3; //// same as grid-column-start and end */
  grid-row-start: 2;
  grid-row-end: 2;
  /* grid-row: 2/2; //// same as grid-row-start and end */
}
/*
grid-area: 2 /3 /3 /4; // same as grid-row-start,grid-row-end, grid-column-start,  grid-column-end
*/

.b{
  grid-column-start: 3;
  grid-column-end:4;
  grid-row-start: 1;
  grid-row-end: 1;
  
}

.c{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
}

.d{
  grid-column-start: 1;
  grid-column-end:2;
  grid-row-start: 2;
  grid-row-end: 2;
}
.e{
  grid-column-start: 1;
  grid-column-end:2;
  grid-row-start: 1;
  grid-row-end: 1;
}
.f{
  grid-column-start: 3;
  grid-column-end:4;
  grid-row-start: 2;
  grid-row-end: 2;
}
