.Work-Details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 0px 0px;
    position: relative;
    bottom: 0;
    z-index: 2; /* Higher z-index so it appears on top */
    font-weight: bold;
    color: white;
  
    &__Requirements {
        position: relative;
        bottom: 0;
        z-index: 2;
      grid-column: 1 / 2;
      grid-row: 2/ 2;
      font-size: 1.5em;

    }

    &__Values {
        position: relative;
        bottom: 0;
        z-index: 2;
        grid-column: 2 / 2;
        grid-row: 2 / 2;
        font-size: 1.5em;
        li{
            margin-bottom: 30px;
        }
      }
}

.footer_Shape-grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);

    &custom-shape-divider-bottom-1744300848{
        grid-column: 1/2;
        grid-row: 1/2;
    }
}

