.custom-shape-divider-top-1742913203 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1742913203 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 328px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1742913203 .shape-fill {
    fill: #B87328;
}

  .custom-shape-divider-top-1742913091 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1742913091 svg {
    position: relative;
    display: block;
    width: calc(185% + 1.3px);
    height: 391px;
}

.custom-shape-divider-top-1742913091 .shape-fill {
    fill: teal;
}