
.Header-Grid{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 0px 0px;
    position: relative;
    z-index: 2;  /* Higher z-index so it appears on top */
    
}

.Header-Grid__Name{
    top: 0;
    grid-column: 1/2;
    grid-row: 1/2;
    font-size: 3em;
}



.Header-Grid__Logo{ 
    grid-column: 2/4;
    grid-row: 1/2;
    width: 300px;
}

.Header-Grid__Address{
    grid-column: 4/7;
    grid-row: 1/2;
    gap: 5px;
}



.Header-Grid__NAV:hover{
    grid-column: 7/8;
    grid-row: 1/2;
}

.Header-Grid__NAV ul li{
    font-size: var(--font-size-medium);
}

.Header-Grid__PageInfo{
    grid-column: 8/10;
    grid-row: 1/2;
}

.Header-Grid--Color{
    color:var(--Header-Color)
}


/* Tablet (min-width: 601px and max-width: 992px) */
@media (min-width: 601px) and (max-width: 992px){
    .Header-Grid{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);

        &__Name{
            grid-column: 1/2;
            grid-row: 1/2;
            font-size: 2em;
        }
        &__Logo{ 
            grid-column: 2/2;
            grid-row: 1/2;
            width: 300px;
        }
        &__Address{
            grid-column: 3/3;
            grid-row: 1/2;
            gap: 5px;
            color: white
        }
        &__NAV{
            grid-column: 1/2;
            grid-row: 2/2;
        }

        &__NAV:hover{
            grid-column: 1/2;
            grid-row: 2/3;
        }
        &__PageInfo{
            grid-column: 2/3;
            grid-row: 2/2;
            font-size: 3em;
            color: white;
        }
    }
}



/* Mobile (max-width: 600px) */
@media (max-width: 600px){
    .Header-Grid{
        display: inline-block;

        &__Address{
            color: white;
        }

        &__PageInfo{
            grid-column: 2/3;
            grid-row: 2/3;
            font-size: 3em;
            color: white;
        }
    // grid-template-columns: repeat(1, 1fr);
    // grid-template-rows: repeat(5, 1fr);

    // &__Name{
    //     grid-column: 1/2;
    //     grid-row: 1/2;
    //     font-size: 2em;
    // }
    // &__Logo{ 
    //     grid-column: 1/2;
    //     grid-row: 2/3;
    //     width: 55%;
    // }
    // &__Address{
    //     grid-column: 1/2;
    //     grid-row: 3/4;
    //     gap: 5px;
    //     color: white
    // }
    // &__NAV{
    //     grid-column: 1/2;
    //     grid-row: 4/5;
    // }

    // &__NAV:hover{
    //     grid-column: 1/2;
    //     grid-row: 4/5;
    // }
    // &__PageInfo{
    //     grid-column: 1/2;
    //     grid-row: 5/6;
    //     font-size: 3em;
    //     color: var(--quaternary-color);
    // }
}
}