:root {
    --primary-color: #fff;
    --secondary-color: rgb(233, 10, 10);
    --background-color: #001F54;
    --text-color: white;
    --font-family: Arial, sans-serif;
    --font-size-large: 1.5em;
    --font-size-medium: 1.2em;
    --font-size-small: 1em;
}

* {
    box-sizing: border-box;
}

body, html {
    height: 100%;
    margin: 0;
    font-family: var(--font-family);
    background-color: var(--background-color);
}

footer{
    background-color: #AD9511;
}

