.img-gallery {
    text-align: center;
    /* Element: section */
  .img-gallery__section--ThreeImages {
    width: 85%;
    margin: 0 auto 26px;
    text-align: center;
  }
  /* Element: figure */
  .img-gallery__figure {
    margin: 0 15px 0 auto;
    display: inline-block;
    padding: 1.25em;
    background: brown;
    border-radius: 15px;
  }
  /* Element: image */
  .img-gallery__image {
    display: block;
    width: 450px;
    height: auto;
    border-radius: 15px;
    margin-bottom: 1.25em;
  }
  /* Element: figcaption */
  .img-gallery__figcaption {
    display: block;
    text-align: center;
    font-size: 22px;
    background: tan;
    padding: 10px;
    border-radius: 15px;
  }
  }